.context {
    input[type="color"],
    input[type="text"],
    input[type="range"] {
        margin: 10px;
        padding: 0 10px;
        width: 200px;
        height: 40px;
        border: 1px solid gray;
        vertical-align: middle;
    }
}
